{{ define "layouts/main/partials/_sidebar.html"}}
<div class="app-sidebar-menu overflow-hidden flex-column-fluid">
  <div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper hover-scroll-overlay-y my-5">
    <div class="menu menu-column menu-rounded menu-sub-indention px-3" id="kt_app_sidebar_menu">
      
      <!-- Static Dashboard Menu -->
      <div class="menu-item menu-accordion {{ if eq .ActivePage "dashboard" }}here show{{ end }}">
        <a class="menu-link" href="/dashboard">
          <span class="menu-icon"><i class="ki-outline ki-element-11 fs-2"></i></span>
          <span class="menu-title">Dashboard</span>
        </a>
      </div>



      <!-- Dynamic Menu -->
      {{ range $item := .Menu }}
      <div class="menu-item">
        <a class="menu-link {{ if eq $.ActivePage $item.modul_path }}active{{ end }}" href="/{{ $item.modul_path }}">
          <span class="menu-icon"><i class="ki-outline {{ $item.modul_icon }}"></i></span>
          <span class="menu-title">{{ $item.nama_modul }}</span>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
